# Projeto 1 - Ciência dos Dados

Nome: André Barboza de Braga Melo

Nome: Rodrigo Anciães Patelli

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [69]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [70]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\ivald\OneDrive\Desktop\Rodrigo\Insperzada\Ciencia de Dados\Projeto_1

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [71]:
filename = 'League of Legends_classificado.xlsx'

In [72]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relevância
0           nao aguento mais jogar league of legends           1
1  ainda vou enfartar jogando league of legends\n...           1
2  chegou a hora! está começando o primeiro episó...           0
3  @danielxd__1 • otaku viciado em doraminha core...           0
4  q dificil ser ruim nesse tal de league of legends           0

In [73]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevância
0  meus top artistas do spotify nas últimas seman...           0
1  "enquanto estiver de pé" foi a música-tema do ...           0
2  grevtar monstro sagrado do league of legends n...           0
3  @pedroxdgameplay league of legends é de graça ...           1
4  red canids kalunga é a grande vencedora do cam...           0

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI... O produto que nós escolhemos é um videogame online muito famoso e popular chamado de League of Legends. Esse jogo tem um grande teor competitivo, porém sofre muito com toxicidade dos jogadores e ele é em geral grande alvo do ódio dos próprios jogadores. Para classifcar um tweet como relevante nós consideramos todos os que possuem opniões sobre o jogo como todo (desconsiderando opniões sobre personagens) e qualquer pessoa chamando outras para jogar, ambas essas considerções podem mostrar uma visão de como está a popularidade do jogo e como estão reagindo a ele.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [74]:
#Importando oque é permitido e nescessário
import pandas as pd
import numpy as np
from IPython.display import display
pd.options.display.max_rows = 13
import re

In [75]:
def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = '[!-.:?;|•]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [76]:
for frase in train['Treinamento']:
    frase = cleanup(frase)
    #print(frase)
    
    #testando

In [77]:
trainR = train.loc[train['Relevância']==1]
trainR

                                           Treinamento  Relevância
0             nao aguento mais jogar league of legends           1
1    ainda vou enfartar jogando league of legends\n...           1
6    caraaaaaaaaaaaaaaaaaaaaaaaalho olha essa abert...           1
9    tuiter me sugeriu o tópico league of legends p...           1
10   independente de qm ganhar hj qm ganha é o leag...           1
..                                                 ...         ...
489  @kiffarr não laura kiffaz, prefiro 100 vidas c...           1
492  muita diversão nesse league of legends 🗣🤪🤬🤬🤬🤬🤬...           1
495  quero uma festa de aniversário com o tema leag...           1
497  hoje é dia do sexo\nvou jogar um league of leg...           1
498  pessoas que acordam e vão pro pc jogar league ...           1

[240 rows x 2 columns]

In [78]:
len(trainR['Treinamento'])

240

In [79]:
trainI = train.loc[train['Relevância']==0]
trainI

                                           Treinamento  Relevância
2    chegou a hora! está começando o primeiro episó...           0
3    @danielxd__1 • otaku viciado em doraminha core...           0
4    q dificil ser ruim nesse tal de league of legends           0
5    quando minha ram chegar vou baforar muito leag...           0
7    é incrível a semelhança que eu tenho com a vex...           0
..                                                 ...         ...
491  mano eu não acredito nisso kkkkjkkkkjjkk\n\nva...           0
493  @lumyng porque eu li league of legends é dia d...           0
494  @heartdan @delveracris tu faz desenho da rinha...           0
496  @marianagrazz jogue league of legends aí você ...           0
499  no dia que nerfarem a lux sera o fim de league...           0

[260 rows x 2 columns]

In [80]:
len(trainI['Treinamento'])

260

In [81]:
#Criarei uma lista com todas as palavras de cada situação

In [82]:
lista_total = ''
for frase in train['Treinamento']:
    frase = cleanup(frase)
    lista_total += frase
lista_total = lista_total.split(' ')
#lista_total
serie_total = pd.Series(lista_total)
serie_total.head(10)

0             nao
1         aguento
2            mais
3           jogar
4          league
5              of
6    legendsainda
7             vou
8        enfartar
9         jogando
dtype: object

In [83]:
lista_re = ''
for frase in trainR['Treinamento']:
    frase = cleanup(frase)
    lista_re += frase
lista_re = lista_re.split(' ')
#lista_re
serie_re = pd.Series(lista_re)
serie_re.head(10)

0             nao
1         aguento
2            mais
3           jogar
4          league
5              of
6    legendsainda
7             vou
8        enfartar
9         jogando
dtype: object

In [84]:
lista_ir = ''
for frase in trainI['Treinamento']:
    frase = cleanup(frase)
    lista_ir += frase
lista_ir = lista_ir.split(' ')
#lista_ir
serie_ir = pd.Series(lista_ir)
serie_ir.head(10)

0       chegou
1            a
2         hora
3         está
4    começando
5            o
6     primeiro
7     episódio
8           do
9           no
dtype: object

In [85]:
frequencia_total = serie_total.value_counts()
frequencia_total

of             504
league         470
legends        356
de             325
e              182
              ...
pqpquando        1
cabeludinho      1
chamar           1
arrependo        1
vidas            1
Length: 3072, dtype: int64

In [86]:
frequencia_re = serie_re.value_counts()
frequencia_re

of                                         256
league                                     235
legends                                    184
de                                         129
eu                                          94
                                          ...
\n\nq                                        1
full                                         1
legends@kiffarr                              1
legends\n\nhttps//tco/xw8tyqis1epreciso      1
causa                                        1
Length: 1408, dtype: int64

In [87]:
frequencia_ir = serie_ir.value_counts()
frequencia_ir

of                   248
league               235
de                   196
legends              172
                     115
                    ...
valorantbr             1
pereira                1
aproveite              1
legendsthumbnails      1
conseguir              1
Length: 2074, dtype: int64

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**